<h2>Thank you for the Pledge!</h2>
<p>Amount: <%= @pledge.amount %>$</p>
<p>Total project amount: <%= @project.total %>$<p>
<p><%= @project.funding_goal - @project.total %>$ to go!</p>
<%= link_to "Back", project_path(@project) %>