<%= stylesheet_link_tag "application.css" %>

<h1>Projects</h1>

<% @projects.each do |project| %>
<table class="main-project">
	<tr>
		<td><img style= "width: 150px; height: 100px;" src="<%= project.image %>"></td>
		<td><%= link_to "#{project.name}", project_path(project) %></td>
		<td><%= project.funding_goal %>$</td>
	</tr>
</table>
	
<% end %>