<h1>Projects</h1>
<<<<<<< HEAD

<% @projects.each do |project| %>
  <ul>
    <li>Title: <%= project.title %></li>
    <li>Description: <%= project.description %></li>
  </ul>
<% end %>
=======
  <ul>
    <li>Title: <%= @project.name %></li>
    <li>Description: <%= @project.description %></li>
  </ul>
>>>>>>> 5eb16b4596c6b4d723889d9e64fd31ca4112dcf4
