/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.pledge-button {
	background-color: #990099;;
	padding: 15px 40px;
	color: white;
	border-radius: 4px ;
}
 .project-side {
	display: inline-block;
	margin-left: 40px;
	height: 400px;
	position: absolute;
	font-family: arial;

 }

 .project-image {
 	margin-left: 12%;
 	display: inline-block;
 }

 .project-image img{
 	width: 600px;
 	height: 500px;
 }
.project-creator{
	width: 100%;
	text-align: center;
}

.project-creator a{
	color: grey;
}
 .main-project-name {
 	width:100%;
 	font-family: Arial;
 	text-align: center;
 }
.category-show {
	display: inline-block;
	margin-left: 10%;
	height:200px;
	width: 250px;
	margin-bottom: 80px;
}

.main-project {
	font-size: 30px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	margin-bottom: 5px;
	width: 325px;
	height: 450px;
	display: inline-block;
	margin-left: 5%;
	font-family: arial;
}

.crowd-logo img {
	width: 90px;
	height: 90px;
}
.crowd-logo {
	width: 110px;
    float: left;
}

.web-logo {
	margin-top: 5px;
	float:left;
}

.web-logo h1 {
	margin-top: 18px;
	display:inline-block;
	font-family: "futura"
}

.signup {
  display: inline-block;
  margin-top: 30px;
  margin-left: 30%;
  text-decoration: none;
  background: #990099;
  padding: 10px 20px;
  border-radius: 3px;

}

.signup a{
	color:white;
	font-family: arial;
	width: 75px;
	height: 35px;
}

.top-banner {
	width: 100%;
	height: 100px;
	border-bottom: 2px solid lightgrey;
	padding-bottom: 5px;
}

a {
	text-decoration: none;
}

.login {
	display: inline-block;
	margin-left: 7%;
	text-decoration: none;
}

.login a{
	color: black;
}

.project {
	display: inline-block;
	margin-left: 7%;
	text-decoration: none;
}

.project a{
	color: black;
}

.project-name a{
	width: 325px;
	margin: 2px;
	font-size: 25px;
	color: black;
	font-family: arial;
}

.project-name {
	margin: 0px;
	height:25px;
}

.project-fund {
	font-size: 15px;
}

.info-box {
	padding-left: 5px;
}

.creator a{
	color: grey;
	font-size: 20px;
	font-family: arial;
}

.creator {
	margin: 0;
	height: 30px;
	margin-bottom: 5px;
}

.description {
	font-size: 17px;
	height: 78px;
}

.project-pledged {
	font-size: 15px;
	margin-top: 2%;
}

.discover {
	display: inline-block;
	margin-left: 7%;
	text-decoration: none;
}

.discover a{
	color: black;
}

.footer {
	margin-top: 50px;
	display: block;
	width: 100%;
	background-color: #990099;
	height: 50px;

}

.current-display {
	font-size: 25px;
	font-family: arial;
	margin-left: 5%;
}