<%= stylesheet_link_tag "categories.scss" %>

<h1>Categories</h1>
	
	<% @categories.each do |category| %>
		<div class="category-show">
		    <img style="width:200px; height: 200px;" src="<%= category.image %>">
			<%= link_to category.name, category_path(category) %>
	    </div>
	<% end %>
